// Variables

@gray: #777;
@gray-dark: #333;

@waldorf-blue: #2A70AE;
@waldorf-purple: #464D9B;
@waldorf-yellow: #F3E500;
@waldorf-lightgreen: #8EB926;
@waldorf-darkgreen: #01905B;
@waldorf-orange: #F38F1D;
@waldorf-red: #E32223;
